In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("movies_metadata.csv")

C:\Users\Mukes\AppData\Local\Temp\ipykernel_9160\326076830.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("movies_metadata.csv")

In [4]:
data.shape

(45466, 24)

In [5]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [6]:
data.shape

(45466, 24)

In [7]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

## Adult

In [8]:
data.adult.values

array(['False', 'False', 'False', ..., 'False', 'False', 'False'],
      dtype=object)

In [9]:
#data.loc[1,'adult'] ## adult -> convert to boolean
data.adult.unique()

array(['False', 'True', ' - Written by Ørnås',
       ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.',
       ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'],
      dtype=object)

In [10]:
data.loc[~data.adult.isin(['False','True']),:]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data.adult.unique()
data.adult.value_counts()


data = data.loc[data.adult.isin(['False','True']),:] # only choosing the rows where the adult column is either true or false
data.adult.unique()
#data.shape

array(['False', 'True'], dtype=object)

In [12]:
data.adult.values[0]

'False'

In [13]:
data.adult = data.adult.map({'True':1,'False':0}) #convert from string to 1/0

In [14]:
data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,0,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,0,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,0,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,0,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,0,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,0,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,0,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

# Belongs to Collection

In [15]:
data.belongs_to_collection.values[0]
#check if it is nan, if it is nan append 0, else - convert to a dict and append the name value

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"



```
`# This is formatted as code`
```

if the value is not nan, then convert string -> dictionary and get name value 
else if value is nan, append 0 to my ids

In [16]:
import ast # package to convert string to dictionary
import numpy as np
ast.literal_eval(data.belongs_to_collection.values[0])

{'id': 10194,
 'name': 'Toy Story Collection',
 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [17]:
2 == 2

True

In [18]:
2 == 2

True

In [19]:
import numpy as np
np.nan == np.nan

False

In [20]:
a = np.nan
a == a

False

In [21]:
{"a" : 2} != {"a" : 2}

False

all elements : (check if that value is ) str -> dict -> id

In [22]:
import ast

collectionNames = [] #list to store collections Ids - list that is going to store the vleaned value
for i in data['belongs_to_collection'].values: #Iterating through the column
    if i != i: # check if it is nan 
      collectionNames.append("No Collection") #append -1
      continue
    else:
      collectionNames.append(ast.literal_eval(i)['name'])

#collectionIds
data['collectionName'] = collectionNames
data = data.drop(columns = ['belongs_to_collection'])

In [23]:
data

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collectionName
0,0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,No Collection
2,0,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,0,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,No Collection
4,0,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,No Collection
45462,0,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,No Collection
45463,0,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,No Collection
45464,0,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,No Collection
45465,0,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,No Collection

# Budget

In [24]:
data.budget = data.budget.astype('int64') # explicilty type casting
data.budget.describe() #summary stats

count    4.546300e+04
mean     4.224579e+06
std      1.742413e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.800000e+08
Name: budget, dtype: float64

In [25]:
sum(data.budget == 0)*100/data.shape[0]

80.44563711149726

1) Dont use budget
2) Try to look for some other dataset where these details are available
3) Bite the bullet and only do analysis with the rest of the data

In [26]:
data

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collectionName
0,0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,No Collection
2,0,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,0,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,No Collection
4,0,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,No Collection
45462,0,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,No Collection
45463,0,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,No Collection
45464,0,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,No Collection
45465,0,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,No Collection

# Genres

In [27]:
data.genres.values[0] #pandas -> string, list of dictionaries

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

I want to take 4 genres from the genres columns and contruct 4 columns genre1, genre2, genre3 and genre4 and each column will have an name corresponding to them, when genre is not available, I will map it to id ''

New Idea : Create a column for each genre - say 1 if the movie has the genre, else put 0

In [31]:
genres = []

for i in data.genres:
  genList = ast.literal_eval(i)
  for j in genList:
    genres.append(j['name'])

In [32]:
genres

['Animation',
 'Comedy',
 'Family',
 'Adventure',
 'Fantasy',
 'Family',
 'Romance',
 'Comedy',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Action',
 'Crime',
 'Drama',
 'Thriller',
 'Comedy',
 'Romance',
 'Action',
 'Adventure',
 'Drama',
 'Family',
 'Action',
 'Adventure',
 'Thriller',
 'Adventure',
 'Action',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Horror',
 'Family',
 'Animation',
 'Adventure',
 'History',
 'Drama',
 'Action',
 'Adventure',
 'Drama',
 'Crime',
 'Drama',
 'Romance',
 'Crime',
 'Comedy',
 'Crime',
 'Comedy',
 'Adventure',
 'Action',
 'Comedy',
 'Crime',
 'Comedy',
 'Thriller',
 'Crime',
 'Drama',
 'Thriller',
 'Action',
 'Adventure',
 'Crime',
 'Thriller',
 'Drama',
 'Fantasy',
 'Science Fiction',
 'Thriller',
 'Drama',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Family',
 'Drama',
 'Romance',
 'Fantasy',
 'Science Fiction',
 'Adventure',
 'Drama',
 'Crime',
 'Drama',
 'Crime',
 'Science Fiction',
 'Thriller',
 'Mystery',
 'Romance',
 'Adventure',
 'Fantasy',
 'Drama',
 'Comedy',
 'Family',
 'History',
 'Drama',
 'Romance',
 'Drama',
 'Adventure',
 'History',
 'Drama',
 'Family',
 'Comedy',
 'Family',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'War',
 'Action',
 'Crime',
 'Drama',
 'History',
 'Drama',
 'Romance',
 'Action',
 'Fantasy',
 'Fantasy',
 'Drama',
 'Comedy',
 'Thriller',
 'Drama',
 'Romance',
 'Crime',
 'Mystery',
 'Thriller',
 'Adventure',
 'Animation',
 'Drama',
 'Family',
 'Drama',
 'Romance',
 'Drama',
 'Crime',
 'Thriller',
 'Action',
 'Thriller',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'Foreign',
 'Action',
 'Adventure',
 'Comedy',
 'Family',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Thriller',
 'Drama',
 'Mystery',
 'Adventure',
 'Family',
 'Fantasy',
 'Drama',
 'Thriller',
 'Music',
 'Drama',
 'Family',
 'Comedy',
 'Comedy',
 'Romance',
 'Comedy',
 'Action',
 'Science Fiction',
 'Drama',
 'Family',
 'Comedy',
 'Romance',
 'Comedy',
 'Horror',
 'Action',
 'Thriller',
 'Crime',
 'Action',
 'Thriller',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'History',
 'Drama',
 'Romance',
 'Comedy',
 'Family',
 'Horror',
 'Science Fiction',
 'Documentary',
 'Drama',
 'Thriller',
 'Drama',
 'Thriller',
 'Family',
 'Drama',
 'Drama',
 'Crime',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'Drama',
 'Romance',
 'Action',
 'Drama',
 'Adventure',
 'Comedy',
 'Family',
 'Comedy',
 'Crime',
 'Drama',
 'Thriller',
 'Drama',
 'Drama',
 'Horror',
 'Thriller',
 'Romance',
 'Comedy',
 'Horror',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Action',
 'Adventure',
 'Drama',
 'Science Fiction',
 'Thriller',
 'Documentary',
 'Drama',
 'Thriller',
 'Comedy',
 'Crime',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'Mystery',
 'Science Fiction',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Comedy',
 'Family',
 'Action',
 'Comedy',
 'Music',
 'Family',
 'Adventure',
 'Documentary',
 'Crime',
 'Action',
 'Drama',
 'History',
 'War',
 'Crime',
 'Drama',
 'Crime',
 'Action',
 'Comedy',
 'Thriller',
 'Drama',
 'Thriller',
 'Drama',
 'Comedy',
 'Documentary',
 'Drama',
 'Foreign',
 'Comedy',
 'Crime',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'Family',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Fantasy',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'War',
 'Action',
 'Thriller',
 'Mystery',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Music',
 'Documentary',
 'Comedy',
 'Documentary',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Action',
 'Comedy',
 'Crime',
 'Thriller',
 'Action',
 'Adventure',
 'Drama',
 'Family',
 'Drama',
 'Crime',
 'Romance',
 'Drama',
 'Comedy',
 'Crime',
 'Comedy',
 'Drama',
 'Thriller',
 'Drama',
 'Adventure',
 'Drama',
 'Horror',
 'Action',
 'Crime',
 'Fantasy',
 'Drama',
 'Romance',
 'Drama',
 'Thriller',
 'Comedy',
 'Action',
 'Comedy',
 'Fantasy',
 'Comedy',
 'Family',
 'Mystery',
 'Crime',
 'Drama',
 'Action',
 'Adventure',
 'Drama',
 'Mystery',
 'Science Fiction',
 'Thriller',
 'Action',
 'Thriller',
 'Drama',
 'Documentary',
 'Thriller',
 'Action',
 'Crime',
 'Drama',
 'Mystery',
 'Thriller',
 'Action',
 'Thriller',
 'Action',
 'Comedy',
 'Crime',
 'Drama',
 'Drama',
 'Crime',
 'Action',
 'Adventure',
 'Drama',
 'Romance',
 'Adventure',
 'Action',
 'Crime',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Adventure',
 'Action',
 'Drama',
 'Science Fiction',
 'Thriller',
 'Science Fiction',
 'Comedy',
 'Drama',
 'Drama',
 'Crime',
 'Drama',
 'Comedy',
 'Mystery',
 'Horror',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Family',
 'Romance',
 'Romance',
 'Comedy',
 'Action',
 'Adventure',
 'Science Fiction',
 'Family',
 'Fantasy',
 'Comedy',
 'Drama',
 'Romance',
 'Thriller',
 'Foreign',
 'Horror',
 'Thriller',
 'Crime',
 'Drama',
 'Mystery',
 'Thriller',
 'Action',
 'Comedy',
 'Comedy',
 'Fantasy',
 'Horror',
 'Thriller',
 'Fantasy',
 'Comedy',
 'Drama',
 'Drama',
 'Drama',
 'History',
 'Romance',
 'Documentary',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Science Fiction',
 'Horror',
 'Action',
 'Drama',
 'Crime',
 'Drama',
 'Science Fiction',
 'Thriller',
 'Drama',
 'Romance',
 'Thriller',
 'Drama',
 'Fantasy',
 'Drama',
 'Romance',
 'Comedy',
 'Action',
 'Thriller',
 'Comedy',
 'Drama',
 'Family',
 'Documentary',
 'Drama',
 'Romance',
 'Adventure',
 'Action',
 'Drama',
 'Action',
 'Western',
 'Drama',
 'Adventure',
 'Action',
 'Comedy',
 'Crime',
 'Family',
 'Drama',
 'Drama',
 'War',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Drama',
 'Family',
 'Thriller',
 'Drama',
 'Horror',
 'Mystery',
 'Drama',
 'Family',
 'Romance',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'Thriller',
 'Crime',
 'Mystery',
 'Romance',
 'Thriller',
 'Action',
 'Adventure',
 'Thriller',
 'Crime',
 'Comedy',
 'Fantasy',
 'Drama',
 'Thriller',
 'Mystery',
 'Crime',
 'Drama',
 'Mystery',
 'Comedy',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Mystery',
 'Thriller',
 'Comedy',
 'Crime',
 'Romance',
 'Comedy',
 'Drama',
 'History',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Action',
 'Adventure',
 'Drama',
 'Family',
 'Romance',
 'Animation',
 'Family',
 'Comedy',
 'Adventure',
 'Drama',
 'Thriller',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Drama',
 'Drama',
 'Family',
 'Fantasy',
 'Fantasy',
 'Animation',
 'Science Fiction',
 'Family',
 'Drama',
 'Action',
 'Thriller',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Comedy',
 'Family',
 'Drama',
 'Music',
 'Romance',
 'Comedy',
 'Family',
 'Drama',
 'Action',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Horror',
 'Romance',
 'Drama',
 'Romance',
 'Comedy',
 'Crime',
 'Comedy',
 'Family',
 'Romance',
 'Action',
 'Drama',
 'Mystery',
 'Thriller',
 'Adventure',
 'Fantasy',
 'Comedy',
 'Science Fiction',
 'Family',
 'Action',
 'Crime',
 'Drama',
 'Thriller',
 'Adventure',
 'Action',
 'Science Fiction',
 'Drama',
 'Romance',
 'Drama',
 'Family',
 'Fantasy',
 'Drama',
 'Crime',
 'Drama',
 'Drama',
 'Romance',
 'Adventure',
 'Drama',
 'Romance',
 'War',
 'Adventure',
 'Comedy',
 'Family',
 'Action',
 'Drama',
 'Crime',
 'Drama',
 'Drama',
 'Romance',
 'Drama',
 'Comedy',
 'Drama',
 'History',
 'Drama',
 'Horror',
 'Science Fiction',
 'Romance',
 'Action',
 'Comedy',
 'Family',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Romance',
 'Fantasy',
 'Drama',
 'Family',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Crime',
 'Drama',
 'Drama',
 'Comedy',
 'Drama',
 'Thriller',
 'Crime',
 'Drama',
 'Action',
 'Thriller',
 'Crime',
 'Drama',
 'Horror',
 'Science Fiction',
 'Action',
 'Thriller',
 'Drama',
 'Romance',
 'Crime',
 'Thriller',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Drama',
 'Romance',
 'Thriller',
 'Action',
 'Drama',
 'Science Fiction',
 'Thriller',
 'Thriller',
 'Crime',
 'Drama',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Thriller',
 'Crime',
 'Drama',
 'Comedy',
 'Drama',
 'Drama',
 'Romance',
 'History',
 'Drama',
 'Drama',
 'History',
 'Drama',
 'History',
 'Action',
 'Western',
 'Drama',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Mystery',
 'Romance',
 'Drama',
 'Music',
 'Mystery',
 'Comedy',
 'Drama',
 'Mystery',
 'Drama',
 'Comedy',
 'Family',
 'TV Movie',
 'Horror',
 'Drama',
 'Comedy',
 'Drama',
 'Animation',
 'Drama',
 'Family',
 'Fantasy',
 'Action',
 'Thriller',
 'Action',
 'Adventure',
 'Science Fiction',
 'Fantasy',
 'Drama',
 'Comedy',
 'Family',
 'Drama',
 'Crime',
 'Crime',
 'Thriller',
 'Drama',
 'Thriller',
 'Comedy',
 'Drama',
 'Crime',
 'Comedy',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'War',
 'Action',
 'Comedy',
 'Fantasy',
 'Science Fiction',
 'Horror',
 'Comedy',
 'Thriller',
 'Science Fiction',
 'Action',
 'Adventure',
 'Thriller',
 'Crime',
 'Horror',
 'Thriller',
 'Drama',
 'Romance',
 'Thriller',
 'Horror',
 'Science Fiction',
 'Comedy',
 'Drama',
 'Romance',
 'Thriller',
 'Crime',
 'Drama',
 'War',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Science Fiction',
 'Thriller',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Comedy',
 'Romance',
 'Drama',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Family',
 'Comedy',
 'Mystery',
 'Drama',
 'Comedy',
 'Drama',
 'Music',
 'Thriller',
 'Drama',
 'Romance',
 'Action',
 'Comedy',
 'Thriller',
 'Action',
 'Drama',
 'Thriller',
 'Drama',
 'Thriller',
 'Crime',
 'Mystery',
 'Comedy',
 'Drama',
 'Family',
 'Romance',
 'Comedy',
 'Drama',
 'Fantasy',
 'Action',
 'Thriller',
 'Drama',
 'Fantasy',
 'Comedy',
 'Family',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Romance',
 'Drama',
 'Crime',
 'Comedy',
 'Drama',
 'Romance',
 'Action',
 'Comedy',
 'Romance',
 'Comedy',
 'Drama',
 'Romance',
 'Adventure',
 'Drama',
 'Family',
 'Documentary',
 'Foreign',
 'Family',
 'Animation',
 'Drama',
 'Drama',
 'History',
 'Horror',
 'Thriller',
 'Mystery',
 'Fantasy',
 'Romance',
 'Comedy',
 'Crime',
 'Fantasy',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'Western',
 'Drama',
 'Comedy',
 'Crime',
 'Comedy',
 'Drama',
 'Drama',
 'Crime',
 'Drama',
 'Thriller',
 'Comedy',
 'Family',
 'Drama',
 'Action',
 'Adventure',
 'Crime',
 'Thriller',
 'Action',
 'Adventure',
 'Crime',
 'Comedy',
 'Romance',
 'Thriller',
 'Science Fiction',
 'Action',
 'Crime',
 'Action',
 'Thriller',
 'Drama',
 'Romance',
 'Fantasy',
 'Drama',
 'Action',
 'Western',
 'Action',
 'Crime',
 'Romance',
 'Thriller',
 'Comedy',
 'Drama',
 'Comedy',
 'Drama',
 'Action',
 'Comedy',
 'Crime',
 'Drama',
 'Drama',
 'Action',
 'Crime',
 'Crime',
 'Drama',
 'Romance',
 'Animation',
 'Science Fiction',
 'Action',
 'Adventure',
 'Thriller',
 'Action',
 'Comedy',
 'Action',
 'Adventure',
 'Crime',
 'Drama',
 'Thriller',
 'Horror',
 'Thriller',
 'Documentary',
 'Romance',
 'Adventure',
 'Crime',
 'Drama',
 'Thriller',
 'Drama',
 'Action',
 'Thriller',
 'Comedy',
 'Documentary',
 'Action',
 'Fantasy',
 'Science Fiction',
 'Horror',
 'Mystery',
 'Thriller',
 'Drama',
 'Romance',
 'Crime',
 'Drama',
 'Comedy',
 'Family',
 'Fantasy',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Crime',
 'Music',
 'Comedy',
 'Family',
 'Action',
 'Comedy',
 'Action',
 'Adventure',
 'Comedy',
 'Drama',
 'Western',
 'Comedy',
 'Drama',
 'Romance',
 'Drama',
 'Comedy',
 'Fantasy',
 ...]

In [ ]:
rows = [[]]
genres = list(genres)

for i in data.genres:
  genList = ast.literal_eval(i)
  movieGenres = [x['name'] for x in genList] # list of all the genres of the movie
  row = [] # store a list of 1s and 0s 
  for i in genres:
    row.append(int(i in movieGenres))
  rows.append(row)

In [ ]:
genre = pd.DataFrame(rows[1:],columns = genres)
genre

       Drama  Science Fiction  Documentary  ...  Fantasy  Action  History
0          0                0            0  ...        0       0        0
1          0                0            0  ...        1       0        0
2          0                0            0  ...        0       0        0
3          1                0            0  ...        0       0        0
4          0                0            0  ...        0       0        0
...      ...              ...          ...  ...      ...     ...      ...
45458      1                0            0  ...        0       0        0
45459      1                0            0  ...        0       0        0
45460      1                0            0  ...        0       1        0
45461      0                0            0  ...        0       0        0
45462      0                0            0  ...        0       0        0

[45463 rows x 20 columns]

In [ ]:
tmp = pd.concat([data,genre], axis = 1)
data.shape, genre.shape

((45463, 24), (45463, 20))

In [ ]:
tmp

       adult      budget  ... Action History
0        0.0  30000000.0  ...    0.0     0.0
1        0.0  65000000.0  ...    0.0     0.0
2        0.0         0.0  ...    0.0     0.0
3        0.0  16000000.0  ...    0.0     0.0
4        0.0         0.0  ...    0.0     0.0
...      ...         ...  ...    ...     ...
45461    0.0         0.0  ...    0.0     0.0
45462    0.0         0.0  ...    0.0     0.0
45463    0.0         0.0  ...    NaN     NaN
45464    0.0         0.0  ...    NaN     NaN
45465    0.0         0.0  ...    NaN     NaN

[45466 rows x 44 columns]

In [ ]:
len(genres)

20

In [ ]:
# import ast
# index = 0
# gen1 = []

# for gen in data.genres.values:
#   genList = ast.literal_eval(gen) ## converts string to list of dictionary
#   if len(genList) > index: ##if the list has atleast one genre
#     gen1.append(genList[0]['name']) #mark the id of the genre
#   else:
#     gen1.append('') #mark 0 as the id

# data['genre1'] = gen1 #we have identified genre1

In [ ]:
# import ast
# index = 1
# gen2 = []

# for gen in data.genres.values:
#   genList = ast.literal_eval(gen) #converts string to list
#   if len(genList) > index: # checks if the number of genres > 1
#     gen2.append(genList[1]['name']) #takes the 2nd genre and appends to a list
#   else:
#     gen2.append('') #if the genre 2 is not present, append 0

# data['genre2'] = gen2

In [ ]:
# import ast
# index = 2
# gen3 = []

# for gen in data.genres.values:
#   genList = ast.literal_eval(gen)
#   if len(genList) > index:
#     gen3.append(genList[2]['name'])
#   else:
#     gen3.append('')

# data['genre3'] = gen3

In [ ]:
# import ast
# index = 3
# gen4 = []

# for gen in data.genres.values:
#   genList = ast.literal_eval(gen)
#   if len(genList) > index:
#     gen4.append(genList[3]['name'])
#   else:
#     gen4.append('')

# data['genre4'] = gen4

In [ ]:
sum(data.genre4 == '')*100/data.shape[0]

90.3283989178013

In [ ]:
data = data.drop(columns = ['genres'])

In [ ]:
data

       adult    budget  ...    genre3 genre4
0          0  30000000  ...    Family
1          0  65000000  ...    Family
2          0         0  ...
3          0  16000000  ...   Romance
4          0         0  ...
...      ...       ...  ...       ...    ...
45461      0         0  ...
45462      0         0  ...
45463      0         0  ...  Thriller
45464      0         0  ...
45465      0         0  ...

[45463 rows x 27 columns]

## Home Page

In [ ]:
data.homepage.values[0]

'http://toystory.disney.com/toy-story'

In [ ]:
data.homepage.isnull().sum()*100/data.shape[0]

82.88938257484108

In [ ]:
data['homePagePresent'] = (~data.homepage.isnull()) #fasle- if null in home page else true

In [ ]:
data = data.drop(columns = ['homepage'])

In [ ]:
data

       adult    budget      id  ... vote_count collectionId homePagePresent
0          0  30000000     862  ...     5415.0        10194            True
1          0  65000000    8844  ...     2413.0           -1           False
2          0         0   15602  ...       92.0       119050           False
3          0  16000000   31357  ...       34.0           -1           False
4          0         0   11862  ...      173.0        96871           False
...      ...       ...     ...  ...        ...          ...             ...
45461      0         0  439050  ...        1.0           -1            True
45462      0         0  111109  ...        3.0           -1           False
45463      0         0   67758  ...        6.0           -1           False
45464      0         0  227506  ...        0.0           -1           False
45465      0         0  461257  ...        0.0           -1           False

[45463 rows x 23 columns]

# Id

In [ ]:
(data.shape[0] - len(data.id.unique())) #difference between movies and unique ids
data = data.drop_duplicates(subset = 'id')

In [ ]:
(data.shape[0] - len(data.id.unique()))

0

In [ ]:
data.imdb_id.values[0]
(data.shape[0] - len(data.imdb_id.unique()))
data = data.drop_duplicates(subset = 'imdb_id')

# Original Language

In [ ]:
len(data.original_language.unique())
data.original_language.value_counts()
data.original_language.isnull().sum()
data.loc[data.original_language.isnull(),:]
data = data.dropna(subset = ['original_language'])

In [ ]:
data.columns

Index(['adult', 'budget', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'collectionId',
       'homePagePresent'],
      dtype='object')

# Title

In [ ]:
data.title.isnull().sum(), len(data.title.unique())*100/data.shape[0]

(3, 93.05818614280051)

In [ ]:
data.original_title.isnull().sum(), len(data.original_title.unique())*100/data.shape[0]

(0, 95.4631546491653)

In [ ]:
data = data.drop(columns = ['title'])

In [ ]:
data.original_title
"data science" == "Data  Science"

False

1) lower case upper case
2) remove unwanted spaces (data science, data  science)
3) checking spelling mistakes -> for places where there are a lot of chracters (textBlob)
4) handling special characters

In [ ]:
data.original_title = data['original_title'].str.lower()
data.original_title = data['original_title'].str.strip()

In [ ]:
data.original_title

0                          toy story
1                            jumanji
2                   grumpier old men
3                  waiting to exhale
4        father of the bride part ii
                    ...
45461                        رگ خواب
45462            siglo ng pagluluwal
45463                       betrayal
45464            satana likuyushchiy
45465                       queerama
Name: original_title, Length: 45406, dtype: object

# Overview

In [ ]:
data.overview = data.overview.str.lower()
data.overview = data.overview.str.strip()
data.overview

0        led by woody, andy's toys live happily in his ...
1        when siblings judy and peter discover an encha...
2        a family wedding reignites the ancient feud be...
3        cheated on, mistreated and stepped on, the wom...
4        just when george banks has recovered from his ...
                               ...
45461          rising and falling between a man and woman.
45462    an artist struggles to finish his work while a...
45463    when one of her hits goes wrong, a professiona...
45464    in a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45406, dtype: object

# Popularity

In [ ]:
data.popularity

0         21.9469
1         17.0155
2         11.7129
3         3.85949
4         8.38752
           ...
45461    0.072051
45462    0.178241
45463    0.903007
45464    0.003503
45465    0.163015
Name: popularity, Length: 45406, dtype: object

In [ ]:
data.popularity = data.popularity.astype('float64') ##floating point value
data.popularity.describe()
data.popularity.quantile(0.999)
# sum(data.popularity > 20)

42.637264340004414

In [ ]:
##outlier detection - 1) domain knowledge 2) u need to handle them
data.popularity = data.popularity.clip(0,50)
#data = data.loc[(data.popularity > 0) & (data.popularity <= 100),:]

In [ ]:
data.popularity.describe()

count    45403.000000
mean         2.859169
std          4.202630
min          0.000000
25%          0.386396
50%          1.128080
75%          3.680236
max         50.000000
Name: popularity, dtype: float64

# Vote Count and Vote Average

In [ ]:
data.vote_count.describe()
data.vote_count.isna().sum()
data.vote_count[data.vote_count.isnull()] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
data.vote_average = data.vote_average.astype('float64')
data.vote_count = data.vote_count.astype('int64')

In [ ]:
data.vote_count.describe()

count    45406.000000
mean       109.990376
std        491.590432
min          0.000000
25%          3.000000
50%         10.000000
75%         34.000000
max      14075.000000
Name: vote_count, dtype: float64

In [ ]:
data.vote_average.describe()

count    45403.000000
mean         5.619461
std          1.922518
min          0.000000
25%          5.000000
50%          6.000000
75%          6.800000
max         10.000000
Name: vote_average, dtype: float64

In [ ]:
data['score'] = (data.vote_average * data.vote_count)

# Poster Path

In [ ]:
data.poster_path.values[0] #null value, unique values, file exists in the path or not

'/rhIRbceoE9lR4veEXuwCC2wARtG.jpg'

In [ ]:
data.poster_path.isnull().sum()

381

In [ ]:
import os
os.path.isfile('/rhIRbceoE9lR4veEXuwCC2wARtG.jpg')

False

In [ ]:
data = data.drop(columns = ['poster_path'])

# Production Companies

In [ ]:
data = data[~data.production_companies.isnull()]

In [ ]:
data.production_companies.values[0]

"[{'name': 'Pixar Animation Studios', 'id': 3}]"

In [ ]:
import ast
index = 0
prod1 = []

for prod in data.production_companies.values:
  prodList = ast.literal_eval(prod)
  if len(prodList) > index:
    prod1.append(prodList[index]['name'])
  else:
    prod1.append('')

data['Producer1'] = prod1

In [ ]:
import ast
index = 1
prod2 = []

for prod in data.production_companies.values:
  prodList = ast.literal_eval(prod)
  if len(prodList) > index:
    prod2.append(prodList[index]['name'])
  else:
    prod2.append('')

data['Producer2'] = prod2

In [ ]:
data = data.drop(columns = ['production_companies'])

In [ ]:
data['Producer1'] = data['Producer1'].str.lower()
data['Producer2'] = data['Producer2'].str.lower()

In [ ]:
data

       adult  ...            Producer2
0          0  ...
1          0  ...         teitler film
2          0  ...       lancaster gate
3          0  ...
4          0  ...  touchstone pictures
...      ...  ...                  ...
45461      0  ...
45462      0  ...
45463      0  ...
45464      0  ...
45465      0  ...

[45403 rows x 23 columns]

# Release Dates

In [ ]:
data.release_date.values[0]

'1995-10-30'

In [ ]:
data.release_date.isnull().sum()

81

In [ ]:
data.release_date

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45403, dtype: object

In [ ]:
data = data.dropna(subset = ['release_date'])

In [ ]:
data.release_date = pd.to_datetime(data.release_date, format='%Y-%m-%d', errors='ignore')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
data.release_date

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45460   1991-05-13
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45322, dtype: datetime64[ns]

In [ ]:
import datetime
dateString = '10-10-2021'
date = datetime.datetime.strptime(dateString, "%d-%m-%Y") #string to datetime
date + datetime.timedelta(days = 15)
#date.strftime("%d-%B-%y") #datetime -> string

datetime.datetime(2021, 10, 25, 0, 0)

# Revenues

In [ ]:
data.revenue = data.revenue.astype('int64')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
data.revenue.describe()

count    4.532200e+04
mean     1.123960e+07
std      6.442643e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.787965e+09
Name: revenue, dtype: float64

In [ ]:
sum(data.revenue == 0)*100/data.shape[0]

83.67900798729094

# RunTime

In [ ]:
data.runtime = data.runtime.astype('float64')
data.runtime.describe()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

count    45078.000000
mean        94.193753
std         38.336989
min          0.000000
25%         85.000000
50%         95.000000
75%        107.000000
max       1256.000000
Name: runtime, dtype: float64

In [ ]:
sum(data.runtime > 300)

107

In [ ]:
data.loc[data.runtime < 20,:]

       adult  budget  ...                  Producer1                      Producer2
222        0       0  ...          keystone pictures      dream man productions inc
224        0       0  ...             savoy pictures           rysher entertainment
398        0       0  ...
554        0       0  ...
667        0       0  ...  castle rock entertainment  columbia pictures corporation
...      ...     ...  ...                        ...                            ...
45446      0       0  ...          star film company
45447      0       0  ...          star film company
45448      0       0  ...          star film company
45450      0       0  ...          star film company
45451      0       0  ...                  star-film

[2522 rows x 23 columns]

# Spoken Languages

In [ ]:
data.spoken_languages

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45460             [{'iso_639_1': 'en', 'name': 'English'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45322, dtype: object

In [ ]:
import ast
totalLanguages = []

for prod in data.spoken_languages.values:
  prodList = ast.literal_eval(prod) #converting from string to list of dictionary 
  totalLanguages.append(len(prodList)) #how many languages spoken?

data['TotalLanguages'] = totalLanguages

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
data = data.drop(columns = ['spoken_languages'])

In [ ]:
data

       adult    budget  ...            Producer2 TotalLanguages
0          0  30000000  ...                                   1
1          0  65000000  ...         teitler film              2
2          0         0  ...       lancaster gate              1
3          0  16000000  ...                                   1
4          0         0  ...  touchstone pictures              1
...      ...       ...  ...                  ...            ...
45460      0         0  ...  working title films              1
45462      0         0  ...                                   1
45463      0         0  ...                                   1
45464      0         0  ...                                   0
45465      0         0  ...                                   1

[45322 rows x 23 columns]

# Status

In [ ]:
data.status.value_counts()

Released           44886
Rumored              226
Post Production       97
In Production         19
Planned               13
Canceled               1
Name: status, dtype: int64

In [ ]:
data.columns

Index(['adult', 'budget', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'production_countries',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'video',
       'vote_average', 'vote_count', 'collectionId', 'homePagePresent',
       'score', 'Producer1', 'Producer2', 'TotalLanguages'],
      dtype='object')

# Others

In [ ]:
data.tagline.isnull().sum()

24936

In [ ]:
data.video.value_counts()

False    45233
True        89
Name: video, dtype: int64

In [ ]:
data = data.drop(columns = ['production_countries'])

In [ ]:
data.drop(columns = ['video','tagline'])

       adult    budget  ...            Producer2 TotalLanguages
0          0  30000000  ...                                   1
1          0  65000000  ...         teitler film              2
2          0         0  ...       lancaster gate              1
3          0  16000000  ...                                   1
4          0         0  ...  touchstone pictures              1
...      ...       ...  ...                  ...            ...
45460      0         0  ...  working title films              1
45462      0         0  ...                                   1
45463      0         0  ...                                   1
45464      0         0  ...                                   0
45465      0         0  ...                                   1

[45322 rows x 20 columns]

# Final Data

In [ ]:
data

       adult    budget  ...            Producer2 TotalLanguages
0          0  30000000  ...                                   1
1          0  65000000  ...         teitler film              2
2          0         0  ...       lancaster gate              1
3          0  16000000  ...                                   1
4          0         0  ...  touchstone pictures              1
...      ...       ...  ...                  ...            ...
45460      0         0  ...  working title films              1
45462      0         0  ...                                   1
45463      0         0  ...                                   1
45464      0         0  ...                                   0
45465      0         0  ...                                   1

[45322 rows x 22 columns]

In [ ]:
data.shape

(45322, 25)

In [ ]:
dataBudgetRevenue  = data.loc[(data.budget != 0) & (data.revenue != 0),:]
dataBudgetRevenue

       adult    budget  ...               Producer2 TotalLanguages
0          0  30000000  ...                                      1
1          0  65000000  ...            teitler film              2
3          0  16000000  ...                                      1
5          0  60000000  ...            forward pass              2
8          0  35000000  ...  imperial entertainment              1
...      ...       ...  ...                     ...            ...
45250      0  12000000  ...                                      2
45399      0    750000  ...            инвада фильм              1
45409      0    800000  ...                                      1
45412      0   2000000  ...                                      1
45422      0   5000000  ...                                      1

[5375 rows x 22 columns]

In [ ]:
# dataBudgetRevenue.to_csv('finalCleanedData.csv')
# dataBudgetRevenue.columns
dataBudgetRevenue['profit'] = (dataBudgetRevenue.revenue - dataBudgetRevenue.budget)/dataBudgetRevenue.budget
#dataBudgetRevenue['profit%'].describe()
dataBudgetRevenue['profit'] = dataBudgetRevenue['profit'].clip(-1,50)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
dataBudgetRevenue.to_csv('finalCleanedData.csv')

1. Profit = (Revenue - Budget)/Budget
2. Do the movies that have high vote_avergae make lot of profits ? 
3. What genres make the most money?
4. Which producers generally do well? 
5. Is there a bias with producers in terms of genres that they do - Do specific producer only produce specific genre movies?
6. Will a longer run time bring higher profits?
7. Does the presence of a homepage indicate higher profits
8. Which languages rakes in high profit
9. Over a period of time, how have the profitability changed - Over the period of time, which genre of movies have grossed well ? 
10. If the movie speaks multiple languages, is the profit % higher?